{
    "MONGODB":  "mongodb://underredrock:Duke1989@ds039717.mongolab.com:4000",
    "PORT": 4000,
    "DOMAIN_NAME": "localhost",
    "S3": {
        "key": "XXXXXX",
        "secret": "XXXXXX",
        "buckets": {
            "file": "chron_dev",
            "static": "chron_static"
        }
    },
    "CONTENT_CDN": "XXXXXX"
}
