extends ../form-layout

block vars
  - var _form = {title: "Edit Article", method: "PUT", action: "/article/" + doc.url}

block fields
  include _form

block append actions
  | 
  button.btn.btn-large.btn-danger.delete-article(data-url="/article/#{doc.url}") Delete
