extends layout

block content
  include mixins/form-helpers
  - _form.method === 'PUT' ? (_form.method = 'POST') && (_form.put = true) : ''

  form.form-horizontal(method=_form.method, action= _form.action)
    legend= _form.title
    mixin errorBlock(errors)
    input#csrf(type='hidden', name='_csrf', value=token)
    - if (_form.put)
      input#method(type='hidden', name='_method', value='put')
    block fields
    .form-actions
      block actions
        button.btn.btn-large.btn-primary(type='submit') Submit

  // https://github.com/visionmedia/jade/issues/733
  block afterform