extends layout

block content
  - if (messages.length > 0)
    .alert.alert-info
      ul
        - each message in messages
          li= message

  h1 Welcome
    - if (user)
      | , #{user.name}!
  - if (!user)
    p Click 
      a(href="/login") here
      |  to sign in.
