include ../mixins/layout-helpers
include ../mixins/code

doctype 5
html(lang="en")
  head
    title The Chronicle
    mixin stylesheet("admin")
    mixin googleAnalytics
  body
    .container
      block content
    #scripts
      mixin require-script("admin")
