extends ../layout

block content
  table.table.table-striped
    - each image in images
      tr(id=image.name)
        td
          a(href="/image/#{image.name}/edit")
            img(src=image.fullUrl)
        td: a(href="#") Delete
